@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
	--color1: #32373E;
	--color2: #6C63FF;
	--color3: #313449;
	--color4: #FBFBFB;
	--color5: #5d636b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: 200ms;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FFFFFF;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	max-width: 1140px;
	padding: 3rem;
	margin: auto;
}

.btn {
	padding: 0.5rem 1rem;
	border-radius: 50px;
	border: 1px solid var(--color2);
	color: white !important;
	background-color: var(--color2);
}

.btn:hover {
	background-color: white;
	color: var(--color2) !important;
}

.highlight {
	color: var(--color2);
}

.section-heading {
	color: var(--color3);
	font-size: 2rem;
	max-width: 35rem;
	margin: auto;
	margin-bottom: 6rem;
	text-align: center;
}

/* Header */
header {
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	position: sticky;
	top: 0;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center ;
	height: 3.5rem;
	padding: 0 2rem;
}

.header-nav {
  display: flex;
}

.header-nav-list {
	display: flex;
	list-style: none;
}

.header-nav-list > li {
	margin-left: 1rem;
	font-size: 0.9rem;
}

.header-nav-list a {
	color: var(--color3);
	font-weight: 500;
}

.header-nav-list a:hover {
	color: var(--color2) !important;
}

.contact-btn {
	padding: 0.4rem 0.9rem;
}

.contact-btn:hover {
	background-color: rgba(0, 0, 0, 0);
}

.company-logo-container {
  display: flex;
  align-items: center;
}

.company-logo-container > * {
  margin-right: 1rem;
}

.company-logo {
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color2);
}

.company-name {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
	color: var(--color1);
}

/* Intro */

#intro {
	display: flex;
	align-items: center;
	height: 30rem;
	margin-bottom: 2rem;
}

.intro-text {
	width: 50%;
}

.intro-header {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color1);
	line-height: 3rem;
	margin-bottom: 2rem;
	max-width: 30rem;
	width: 100%;
}

.intro-paragraph {
	color: var(--color5);
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.intro-image {
	display: block;
	width: 50%;
}

/* Trusted by */
#trustedby {
	padding: 3rem 0;
	background-color: var(--color4);
	margin-bottom: 2rem;
}

.trustedby-header {
	text-align: center;
	font-style: italic;
	color: var(--color1);
	margin-bottom: 3rem;
}

.trustedby-companies {
	display: flex;
	justify-content: center;
}

.trustedby-company {
	margin: 0 2rem;
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--color5);
	font-style: italic;
}

.trustedby-company > i {
	margin-right: 0.5rem;
}

/* Services */

#services {
	text-align: center;
	padding: 5rem 0;
}

.services-list {
	display: flex;
	justify-content: center;
	background-color: var(--color4);
	border-radius: 10px;
	padding: 2rem 0.5rem;
	box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.05);
}

.service-box {
	width: 15rem;
	margin: 0 1rem;
}

.service-box-icon {
	font-size: 4rem;
	color: var(--color2);
	margin-bottom: 2rem;
}

.service-box-title {
	color: var(--color1);
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.service-box-desc {
	color: var(--color5);
}

/* Solutions */

.service-container {
	display: flex;
	align-items: center;
	margin-bottom: 10rem;
}

.text-container {
	width: 50%;
	padding: 0 4rem;
}

.image-container {
	width: 50%;
}

.image-container img {
	display: block;
	width: 100%;
}

.solution-heading {
	font-size: 2rem;
	color: var(--color3);
	margin-bottom: 2rem;
	line-height: 2.5rem;
}

.solution-paragraph {
	color: var(--color5);
	margin-bottom: 3rem;
}

